<!DOCTYPE html>
<html lang="en">
<head>
    <%= csrf_meta_tag() %>

    <%= if assigns[:head_addons] do %>
    <%= for addon <- @head_addons do %>
      <%= raw(addon) %>
    <% end %>
    <% end %>
    <link rel="stylesheet" href="/mysite/css/frontend/backend.css"/>
    <script src="https://kit.fontawesome.com/22b173a768.js"></script>

</head>
<body>
  

  <section class="section">
    <a href="/BE/" class="button"><i class='fal fa-arrow-left'></i>&nbsp;zurück ins CMS</a>
  </section>

</section
   <section class="section">
      <div class="container">
          <main role="main" class="container">
        <%= if get_flash(@conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= if get_flash(@conn, :warning) do %>
          <p class="alert alert-warning" role="alert"><%= get_flash(@conn, :warning) %></p>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>
        
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
  </section>

</body>

</html>
