<div class="checkout-wrap">

  <h2>
    <%= trans(@lang,"Payment","Zahlung") %>
  </h2>

<div>&nbsp;</div>



<center>
  <%= trans(@lang,"waiting for payment-confirmation","Warten auf Zahlungsbestätigung") %>
  <div>&nbsp;</div>
  <i class='fal fa-spinner fa-spin fa-2x'></i>
</center>



</div>
